<li class="list-group-item d-flex align-items-center justify-content-between room_list_item">
  <%= link_to room.name, room, class:'ms-2 me-auto', data: {turbo: "false"}%>
  <%= render 'rooms/joinable_link', room: room %>
</li>
